<p>Se ha <strong>registrado un nuevo caso con el código {{caseCode}}</strong> en el sistema.</p>
{{#if caseDetailLink}}
<p>A partir de este momento, podrá gestionar integralmente su caso, incluyendo la posibilidad de relacionar personas, administrar su información, adjuntar y consultar documentos, así como realizar el seguimiento correspondiente al trámite.</p>
{{/if}}
<p>Gracias por confiar en TM para la gestión de tu trámite.</p>
